"""

    No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)  # noqa: E501

    The version of the OpenAPI document: 1.0.0
    Generated by: https://openapi-generator.tech
"""


import re  # noqa: F401
import sys  # noqa: F401

from openapi_client.api_client import ApiClient, Endpoint as _Endpoint
from openapi_client.model_utils import (  # noqa: F401
    check_allowed_values,
    check_validations,
    date,
    datetime,
    file_type,
    none_type,
    validate_and_convert_types
)
from openapi_client.model.invocation_error import InvocationError
from openapi_client.model.io_bluebank_braid_corda_services_vault_vault_query import IoBluebankBraidCordaServicesVaultVaultQuery
from openapi_client.model.io_vertx_ext_auth_user import IoVertxExtAuthUser
from openapi_client.model.net_corda_core_node_services_vault_page_net_corda_core_contracts_contract_state import NetCordaCoreNodeServicesVaultPageNetCordaCoreContractsContractState


class VaultApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

        def __vault_vault_query(
            self,
            **kwargs
        ):
            """vault_vault_query  # noqa: E501

            Queries the vault for contract states of the supplied type  # noqa: E501
            This method makes a synchronous HTTP request by default. To make an
            asynchronous HTTP request, please pass async_req=True

            >>> thread = api.vault_vault_query(async_req=True)
            >>> result = thread.get()


            Keyword Args:
                contract_state_type (str): [optional]
                _return_http_data_only (bool): response data without head status
                    code and headers. Default is True.
                _preload_content (bool): if False, the urllib3.HTTPResponse object
                    will be returned without reading/decoding response data.
                    Default is True.
                _request_timeout (float/tuple): timeout setting for this request. If one
                    number provided, it will be total request timeout. It can also
                    be a pair (tuple) of (connection, read) timeouts.
                    Default is None.
                _check_input_type (bool): specifies if type checking
                    should be done one the data sent to the server.
                    Default is True.
                _check_return_type (bool): specifies if type checking
                    should be done one the data received from the server.
                    Default is True.
                _host_index (int/None): specifies the index of the server
                    that we want to use.
                    Default is read from the configuration.
                async_req (bool): execute request asynchronously

            Returns:
                NetCordaCoreNodeServicesVaultPageNetCordaCoreContractsContractState
                    If the method is called asynchronously, returns the request
                    thread.
            """
            kwargs['async_req'] = kwargs.get(
                'async_req', False
            )
            kwargs['_return_http_data_only'] = kwargs.get(
                '_return_http_data_only', True
            )
            kwargs['_preload_content'] = kwargs.get(
                '_preload_content', True
            )
            kwargs['_request_timeout'] = kwargs.get(
                '_request_timeout', None
            )
            kwargs['_check_input_type'] = kwargs.get(
                '_check_input_type', True
            )
            kwargs['_check_return_type'] = kwargs.get(
                '_check_return_type', True
            )
            kwargs['_host_index'] = kwargs.get('_host_index')
            return self.call_with_http_info(**kwargs)

        self.vault_vault_query = _Endpoint(
            settings={
                'response_type': (NetCordaCoreNodeServicesVaultPageNetCordaCoreContractsContractState,),
                'auth': [],
                'endpoint_path': '/vault/vaultQuery',
                'operation_id': 'vault_vault_query',
                'http_method': 'GET',
                'servers': None,
            },
            params_map={
                'all': [
                    'contract_state_type',
                ],
                'required': [],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'contract_state_type':
                        (str,),
                },
                'attribute_map': {
                    'contract_state_type': 'contract-state-type',
                },
                'location_map': {
                    'contract_state_type': 'query',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'application/json'
                ],
                'content_type': [],
            },
            api_client=api_client,
            callable=__vault_vault_query
        )

        def __vault_vault_query_by(
            self,
            io_vertx_ext_auth_user,
            **kwargs
        ):
            """vault_vault_query_by  # noqa: E501

            Queries the vault  # noqa: E501
            This method makes a synchronous HTTP request by default. To make an
            asynchronous HTTP request, please pass async_req=True

            >>> thread = api.vault_vault_query_by(io_vertx_ext_auth_user, async_req=True)
            >>> result = thread.get()

            Args:
                io_vertx_ext_auth_user (IoVertxExtAuthUser): user

            Keyword Args:
                vault (IoBluebankBraidCordaServicesVaultVaultQuery): [optional]
                _return_http_data_only (bool): response data without head status
                    code and headers. Default is True.
                _preload_content (bool): if False, the urllib3.HTTPResponse object
                    will be returned without reading/decoding response data.
                    Default is True.
                _request_timeout (float/tuple): timeout setting for this request. If one
                    number provided, it will be total request timeout. It can also
                    be a pair (tuple) of (connection, read) timeouts.
                    Default is None.
                _check_input_type (bool): specifies if type checking
                    should be done one the data sent to the server.
                    Default is True.
                _check_return_type (bool): specifies if type checking
                    should be done one the data received from the server.
                    Default is True.
                _host_index (int/None): specifies the index of the server
                    that we want to use.
                    Default is read from the configuration.
                async_req (bool): execute request asynchronously

            Returns:
                NetCordaCoreNodeServicesVaultPageNetCordaCoreContractsContractState
                    If the method is called asynchronously, returns the request
                    thread.
            """
            kwargs['async_req'] = kwargs.get(
                'async_req', False
            )
            kwargs['_return_http_data_only'] = kwargs.get(
                '_return_http_data_only', True
            )
            kwargs['_preload_content'] = kwargs.get(
                '_preload_content', True
            )
            kwargs['_request_timeout'] = kwargs.get(
                '_request_timeout', None
            )
            kwargs['_check_input_type'] = kwargs.get(
                '_check_input_type', True
            )
            kwargs['_check_return_type'] = kwargs.get(
                '_check_return_type', True
            )
            kwargs['_host_index'] = kwargs.get('_host_index')
            kwargs['io_vertx_ext_auth_user'] = \
                io_vertx_ext_auth_user
            return self.call_with_http_info(**kwargs)

        self.vault_vault_query_by = _Endpoint(
            settings={
                'response_type': (NetCordaCoreNodeServicesVaultPageNetCordaCoreContractsContractState,),
                'auth': [],
                'endpoint_path': '/vault/vaultQueryBy',
                'operation_id': 'vault_vault_query_by',
                'http_method': 'POST',
                'servers': None,
            },
            params_map={
                'all': [
                    'io_vertx_ext_auth_user',
                    'vault',
                ],
                'required': [
                    'io_vertx_ext_auth_user',
                ],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'io_vertx_ext_auth_user':
                        (IoVertxExtAuthUser,),
                    'vault':
                        (IoBluebankBraidCordaServicesVaultVaultQuery,),
                },
                'attribute_map': {
                    'vault': 'vault',
                },
                'location_map': {
                    'io_vertx_ext_auth_user': 'body',
                    'vault': 'query',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'application/json'
                ],
                'content_type': [
                    'application/json'
                ]
            },
            api_client=api_client,
            callable=__vault_vault_query_by
        )
