{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CDN -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.min.css">

    <link rel="stylesheet" href="{% static 'css/android.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">


    <title>
        {% block title %}
        {% endblock %}
    </title>

</head>

<body>

    <div class="android-header mdl-layout__header mdl-layout__header--waterfall">
        <div class="mdl-layout__header-row">
            <span class="android-title mdl-layout-title">
                <a href="{% url 'index-view' %}" style="text-decoration: none;"><b>BlockTicket.io</b></a>
            </span>
            <!-- Add spacer, to align navigation to the right in desktop -->
            <div class="android-header-spacer mdl-layout-spacer"></div>
            <!-- Navigation -->
            <div class="android-navigation-container">
                <nav class="android-navigation mdl-navigation">

                    {% if request.session.user_type == 'ticket_user' %}

                    <a class="mdl-navigation__link" href="{% url 'ticketuser-dashboard-view' %}">Dashboard</a>
                    <a class="mdl-navigation__link" href="{% url 'ticketuser-wallet-view' %}">Wallet</a>
                    <a class="mdl-navigation__link" href="{% url 'logout-view' %}">Logout</a>

                    {% elif request.session.user_type == 'vendor' %}

                    <a class="mdl-navigation__link" href="{% url 'vendor-dashboard-view' %}">Dashboard</a>
                    <a class="mdl-navigation__link" href="{% url 'issue-ticket-view' %}">Issue Tickets</a>
                    <a class="mdl-navigation__link" href="{% url 'logout-view' %}">Logout</a>

                    {% else %}

                    <a class="mdl-navigation__link" href="{% url 'login-view' %}">Login</a>
                    <a class="mdl-navigation__link" href="{% url 'ticketuser-signup-view' %}">User Signup</a>
                    <a class="mdl-navigation__link" href="{% url 'vendor-signup-view' %}">Vendor Signup</a>

                    {% endif %}


                </nav>
            </div>
        </div>
    </div>

    <div class="container" style="width: 60%;">
        <div style="margin-top: 20px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
            <h2>
                {% block headline %}
                {% endblock %}
            </h2>
        </div>
        <div style="margin-top: 30px; margin-bottom: 40px;">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <div style="height: 50px;">
    </div>

</body>

</html>