{% extends 'core/base.html' %}

{% block title %}
Login
{% endblock %}


{% block headline %}
{% endblock %}

{% block content %}

<div style="width: 50%; margin: auto; margin-top: 20%;">

    {% if messages %}
    {% for msg in messages %}
    <div style="background-color:gainsboro">{{ msg }}</div>
    {% endfor %}
    {% endif %}

    <main class="form-signin">

        <form action="{% url 'login-view' %}" method="POST">
            {% csrf_token %}

            <div>
                <h3>Welcome to BlockTicket.io</h3>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
                    name="password">
                <label for="floatingPassword">Password</label>
            </div>

            <div style="margin-top: 15px; margin-bottom: 15px;">
                <select class="form-select" aria-label="Default select example" name="user_type">
                    <option selected>Select User Type</option>
                    <option value="ticket_user">Ticket User</option>
                    <option value="vendor">Vendor</option>
                </select>
            </div>

            <div class="d-grid gap-2">
                <button class="btn btn-primary" type="submit">Login</button>
            </div>

        </form>
    </main>

</div>

{% endblock %}