{% extends 'core/base.html' %}

{% block title %}
Available {{ category }} Tickets
{% endblock %}

{% block headline %}
Available {{ category }} Tickets
{% endblock %}

{% block content %}

<div class="card-holder">
<div class="card">
    <p class="card-header" style="font-size: 20px;">Pentagon Travels</p>
    <div class="card-body">
        <h5 class="card-title">Ticket #as23432j342340092bd</h5>
        <p class="card-text">From Dhaka to Chittagong. 25th February, 2021.</p>
        <a href="{% url 'buy-ticket-view' %}" class="btn btn-success">Buy Ticket !</a>
    </div>
</div>
</div>

<div class="card-holder">    
<div class="card">
    <p class="card-header" style="font-size: 20px;">NR Travels</p>
    <div class="card-body">
        <h5 class="card-title">Ticket #b45342340092bd</h5>
        <p class="card-text">From Dhaka to Sylhet. 8th March, 2021.</p>
        <a href="{% url 'buy-ticket-view' %}" class="btn btn-success">Buy Ticket !</a>
    </div>
</div>
</div>

<div class="card-holder">
<div class="card">
    <p class="card-header" style="font-size: 20px;">Ena Travels</p>
    <div class="card-body">
        <h5 class="card-title">Ticket #as23432j342s34345440092bd</h5>
        <p class="card-text">From Dhaka to Teknaf. 21st February, 2021.</p>
        <a href="{% url 'buy-ticket-view' %}" class="btn btn-success">Buy Ticket !</a>
    </div>
</div>
</div>

{% endblock %}