{% extends 'core/base.html' %}
{% load static %}

{% block title %}
Dashboard | User
{% endblock %}


{% block headline %}
Dashboard | User
{% endblock %}


{% block content %}

{% if messages %}
    {% for msg in messages %}
        <div class="message-box-{{ msg.tags }}">{{ msg }}</div>
    {% endfor %}
{% endif %}


<div style="margin-top: 20px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; ">
    <h6 style="text-align: center;">
        <b>Account Unique ID:</b> {{ request.session.user_hash }}
    </h6>
</div>


<div style="margin-top: 20px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; ">
    <h4 style="text-align: center;">
        Verify Ticket
    </h4>
</div>

<div>
    <form action="{% url 'verify-ticket-view' %}" method="POST">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Enter ticket hash" aria-label="Enter ticket hash"
                aria-describedby="button-addon2" name="ticket_hash">
            <button class="btn btn-success" type="submit" id="button-addon2">Verify Ticket</button>
        </div>
    </form>
</div>



<div style="margin-top: 60px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; ">
    <h4 style="text-align: center;">
        Buy Available Tickets
    </h4>
</div>

<div class="row">
    <div class="col" style="display: flex;">
        <div class="category-card">
            <a href="{% url 'ship-ticket-list-view' %}">
                <span class="material-icons">directions_boat</span>
                <h5>
                    Ship Tickets
                </h5>
            </a>
        </div>
        <div class="category-card">
            <a href="{% url 'bus-ticket-list-view' %}">
                <span class="material-icons">directions_bus</span>
                <h5>
                    Bus Tickets
                </h5>
            </a>
        </div>
        <div class="category-card">
            <a href="{% url 'movie-ticket-list-view' %}">
                <span class="material-icons">movie</span>
                <h5>
                    Movie Tickets
                </h5>
            </a>
        </div>
        <div class="category-card">
            <a href="{% url 'event-ticket-list-view' %}">
                <span class="material-icons">event</span>
                <h5>
                    Event Tickets
                </h5>
            </a>
        </div>

    </div>
</div>

{% endblock %}