{% extends 'core/base.html' %}

{% block title %}
User Wallet
{% endblock %}

{% block headline %}
Wallet ID #32494h2h009248ds
{% endblock %}

{% block content %}

<div class="card-holder">
    <div class="card">
        <p class="card-header" style="font-size: 20px;">Hanif Bus Service</p>
        <div class="card-body">
            <b class="card-header-title">Ticket #as23432j342340092bd</b>
            <p class="card-text">From Dhaka to Chittagong. 25th February, 2021.</p>

            <div style="display: flex; flex-direction: row;">
                <div>
                    <a href="{% url 'ticket-info-view' %}" class="btn btn-secondary">Open Ticket</a>
                </div>

                <div style="margin-left: auto;">
                    <a href="{% url 'refund-ticket-view' %}" class="btn btn-danger">Refund</a>
                    <a href="{% url 'resell-ticket-view' %}" class="btn btn-primary">Resell</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card-holder">
    <div class="card">
        <p class="card-header" style="font-size: 20px;">Shyamoli NR</p>
        <div class="card-body">
            <h5 class="card-title">Ticket #b45342340092bd</h5>
            <p class="card-text">From Dhaka to Sylhet. 8th March, 2021.</p>

            <div style="display: flex; flex-direction: row;">
                <div>
                    <a href="#" class="btn btn-secondary">Open Ticket</a>
                </div>

                <div style="margin-left: auto;">
                    <a href="{% url 'refund-ticket-view' %}" class="btn btn-danger">Refund</a>
                    <a href="{% url 'resell-ticket-view' %}" class="btn btn-primary">Resell</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card-holder">
    <div class="card">
        <p class="card-header" style="font-size: 20px;">Saint Martin Paribahan</p>
        <div class="card-body">
            <h5 class="card-title">Ticket #as23432j342s34345440092bd</h5>
            <p class="card-text">From Dhaka to Teknaf. 21st February, 2021.</p>

            <div style="display: flex; flex-direction: row;">
                <div>
                    <a href="#" class="btn btn-secondary">Open Ticket</a>
                </div>

                <div style="margin-left: auto;">
                    <a href="{% url 'refund-ticket-view' %}" class="btn btn-danger">Refund</a>
                    <a href="{% url 'resell-ticket-view' %}" class="btn btn-primary">Resell</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}